/*style variables*/
:root{
    --off-white: #fefae0;
    --dark-pink: #fdaaaa;
    --light-pink: #ffd5d5;
    --peach: #ffd6ba;
    --cream: #fff9bd;
    --yellow-green: #dee791;
    --light-green: #a3dc9a;
    --mid-green: #59ac77;
    --dark-green: #3a6f43;
    --cool-brown: #9a7e6f;
    --warm-brown: #b99470;
    --dark-brown: #54473f;
    --outfit: "Outfit";
    --borel: "Borel";
}

/*setup*/
*{
    margin: 0px;
    padding: 0px;
    background-color: var(--off-white);
    width: 300px;
    height: 400px;
}

/*class selectors*/
body{
    font-family: var(--outfit);
}
h1{
    font-family: var(--borel);
    text-align: center;
    color: var(--dark-brown);
}

/*id selectors*/
#logo{
    width: 25%;
    height: 25%;
    display: block;
    margin: auto;
}