:root{
    --yellow: #FFFD8F;
    --light-green: #C6D870;
    --sage: #8FA31E;
    --dark-green: #556B2F;
    --brown: #3A3131;
    --font: "Outfit";
}
html{
    width: 300px;
    height: 400px;
}

body{
    background-color: var(--light-green);
}
h1{
    font-family: var(--font);
}